.btn-text
{
    color:white;
}

.btn-bg
{
    background-color: crimson;
}

.btn-border
{
    border: 1px solid rebeccapurple;
}

.btn-shadow

{
    /*  box-shadow: x-axis y-axis blur-ratio color*/
    box-shadow: 2px 2px 3px rgba(206, 39, 72, 0.767);
}


    /* h-offset v-offset blur-ratio spread-ratio
    box-shadow: 3px 3px 40px 25px red; */
    
.btn-padding
{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
}
