h1
{
    color: green;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 2px red;
}

p
{
    color: green;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 2px red;
}

a
{
    color: green;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 2px red;
}