* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;

}

h1 {
    font-size: 50px;
    font-family: algerian;
    text-align: center;
    margin-top: 20px;
    color: orangered;
}

.gallery {
    border: 5px solid purple;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}

.gallery-image {
    border: 5px groove red;
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
}

.gallery-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.4;
    transition: transform 1s;
}

.gallery-image:hover img {
    opacity: 1;
    /* transform: scale(1.2); */
    /* transform: rotateY(180deg); */
    transform: translate(0px, -20px);
}
