/* 4.Generic class selectors- selects the elements based on class names
    it works inside all the tag of html in which it is passed*/

    /* apply css proties to all the tags which is having
        .(class) good as classname */
.good
{
    color: green;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 2px red;
}