/* whenever to bring the element to center 
    justify content = center
    align items = center */

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.parent
{
    border: 5px solid red;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child
{
    background-color: green;
    height: 150px;
    width: 150px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

/* move individual elements */